body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("imagens/ChatGPT Image 1 de out. de 2026, 12_30_35.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #222831;
  margin: 0;
}

.cabecalho {
  background-color: #fcfdfe00;
  color: rgb(4, 36, 52);
  padding: 2rem;
  text-align: center;
}

.secao {
  max-width: 700px;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #1a2f43;
  border-radius: 6px;
}

.secao h2 {
  color: #062a5d;
  margin-top: 0;
}

a {
  color: #031B3D;
}

.rodape {
  text-align: center;
  padding: 1rem;
  color: #666;
}